node_modules/
data/

# Firebase Admin Private Key
credentials.json

# React Frontend Production Folder
build/

# Development environment variables for username and password for MongoDB databse user in the MongoBD Atlas cluster
.env

# Configuration and production environment variables for production environment
app.yaml
prod-env.yaml